.main {
  width: 100%;
  height: 1000px;
  background: linear-gradient(
    315deg,
    rgb(103, 8, 96) 3%,
    rgb(79, 97, 14) 33%,
    rgb(46, 96, 93) 68%,
    rgb(145, 13, 13) 98%
  );
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
  object-fit: cover;
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.tagline {
  padding-top: 110px;
  text-align: center;
}
.skills-container {
  margin-top: 5%;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  text-align: center;
}
.Left {
  width: 50%;
  height: 500px;
  left: 0;
}

.technology-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.tech-name {
  width: 100%;
  padding: 60px;
}
.tech-name span {
  display: inline-flex;
}
.tech-name h4 {
  padding: 10px;
}

span {
  width: 100%;
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: baseline;
}
span img {
  width: 30px;
  height: 30px;
  justify-self: flex-end;
}
#file {
  width: 30%;
  background-color: red;
  background-image: linear-gradient(red, yellow);
  height: 10px;
  align-self: center;
  justify-self: stretch;
}
#file:hover {
  margin: -5%;
  zoom: 200%;
}
.Right {
  width: 50%;
  height: 500px;
  border-left: 5px solid white;
}

@media screen and (max-width: 1008px) {
  .main {
    width: 100%;
    height: 1400px;
  }
  .skills-container {
    width: 100%;
    display: block;
  }
  .Left {
    width: 100%;
  }
  .Right {
    width: 100%;
    border-left: 0px;
  }
}
